body{
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}
.navb{
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 151, 114);
    position: sticky;
    top: 0%;
    z-index: 1;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 500px;
    align-items: center;
}
.btn{
    width: 100px;
    height: 40px;
}
.btn:hover{
    filter: brightness(90%);
}
.container{
    background-color: antiquewhite;
    padding: 10px;
    font-family: sans-serif;
}
.aside1{
    float: right;
    height: 300px;
    width : 300px;
    align-items: center;
    background-color: white;
    display: flex;
    border-radius: 10px;
}
.aside1 ol li a {
    text-decoration: none;
    color: rgb(41, 22, 110);
}
.img{
    float: right;
    
}
.table{
    border: 1px solid black;
}
.table caption{
    border: 1px solid black;
    font-weight: bold;
}
.table tr{
    border: 1px solid black;
}
.table tr th{
    border: 1px solid black;
}
.table tr td{
    border: 1px solid black;
}
.facts{
    float: right;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}
.frame{
    display: flex;
    flex-direction: column;
}
/* .box{
    right: 0%;
    float: right;
    display: flex;
    flex-direction: column;
} */
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;

}