body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #AECFA4;
}
div{
    border: 2px solid #46A094;
    padding: 50px;
    border-radius: 20px;
}
textarea{
    border-radius: 10px;
    background-color: #6BBD99;
    border: none;
    font-size: 18px;
    outline: 2px solid #C4E8C2;
}
button{
    background-color: #E65C4F;
    border: none;
    height: 40px;
    width: 130px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
}
button:hover{
    filter: brightness(0.9);
}
button:active{
    filter: brightness(110%);
}